extends layout

block content
	script.
		$(window).scroll(function (event) {
			var scroll = $(window).scrollTop();
			$(".ball").css("opacity",1-scroll*.002);
			
		});
	
	style.
		.header{
			background-color:rgba(255,255,255,0);
			border-bottom:none;
		}
		.header_under{
			display:none;
		}
		.ball{
			background-color:#fff;
			width:600px;
			height:600px;
			padding-top:190px;
			border-radius:100%;
			position:absoute;
			margin-left:calc(50% - 300px);
			transition: all .01s;
			-moz-transition:all .01s;
			-webkit-transition:all .01s;
		}
		.ball h1,.ball h3,.ball p{
			color:#222;
		}
	.section1
		.ball 
			h1 SMDE
			h3 Sistema Multi Didáctico Educativo
				p by 
					b Belon.
	.section2
		.bg2
			.s2.grid
				h1 ¿Qué es SMDE?
				div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. 
			.s3.grid
		.s2.grid
			h2 ¿Qué hacemos?
			div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus.
		.s2.grid.color3
			h2 ¿Por qué lo hacemos?
			div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus.
