doctype html
html
  head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/app.css')
  script(src='/javascripts/jquery-2.1.1.js')
  style.
    @import url(http://fonts.googleapis.com/css?family=Lobster); 
  body
    .screen(onclick="hidemenu()")
    .menu
      h1 SMDE
      if req.session.datos != undefined
        .menu_option
          a(href="/") Inicio
        .menu_option 
          a(href="/login") Iniciar Sesion
        .menu_option
          a(href="/signup") Registrarme  
      else
        .menu_option
          a(href="/logout") Salir
      span.bottom Crafted By 
        b Belon

    .header
      .botton_menu(onclick="showmenu()")
        span
        span
        span
    .header_under
  
    block content


  script.
      function showmenu(){
          $(".menu").animate({top:'0px'});
          $(".menu").css('box-shadow' ,'2px 0px 15px #000');
          $(".screen").show();
      }
      function hidemenu(){
          $(".menu").animate({top:'-100%'});
          $(".menu").css('box-shadow' ,'none');
          $(".screen").hide();
      }
