extends layout

block content
	style.
		.container{
			z-index:97;
			width:675px;
			height:auto;
			background-color:#eeeeee;
			position:absolute;
			left:-345px;
			margin-left:50%;
			padding:0px;
			padding-bottom: 18px;
			text-align:center;
			box-shadow:0px 3px 12px #616161;
		}
		.container h1{
			font-family:"Roboto" , sans-serif;
			font-weight:300;
			color:#616161;
			text-align:left;
			padding:20px;
			padding-left:32px;
			padding-top:32px;
			border-bottom: 3px solid #9e9e9e;
		}

	.each_containerblock
		.container
			h1 Registrarme
			br
			br
			form(method='post', action='crea')
				table(align="right" style="margin-right: 15px;")
					tr
						td
							div.group
								input(type="text", name="mail", required)
								span.highlight
								span.bar
								label Email
						td
							div.group
								input(type="text", name="escuela", required)
								span.highlight
								span.bar
								label Escuela
					tr
						td
							div.group
								input(type="text", name="nombre", required)
								span.highlight
								span.bar
								label Nombre
						td(align="right")
							div.group
								input(type="text", name="apellido", required)
								span.highlight
								span.bar
								label Apellido
					tr
						td
							div.group
								input(type="password", name="contra", required)
								span.highlight
								span.bar
								label Contraseña
					tr
						td(colspan="2" align="center")
							input(type="submit", value="Registrarme")
							span &nbsp;
							input(type="button", onclick="window.location='/login'", value="Iniciar Sesión")
				br
			