extends ../layout

script.
	function aleatorio(min:Number, max:Number):Number{
					var num: Number= Math.floor(Math.random()*(max-min+1))+min;
					return num;
					var numeroNuevo:Number=aleatorio(1,10);
					alert("Número aleatorio"+numeroNuevo);
				}

block content
	br
	br
	br
	br
	br
	br
	br
	br
	h1 Hola hijos de !#$"#$%/!!
	
	-each tumama in datos
		p #{tumama.pregunta}
	
