extends ../layout

block content
  link(rel='stylesheet', href='/stylesheets/app.css')
  style.
    .account_bgcontainer{
      background-image: url("/image/fondochido.jpg");
    }
    .user_img{
      background-image: url("/image/user_img.png");
    }
  div.container_useraccount
    div.alluser_info
      div.account_bgcontainer
        div.option_spancontout
          span.option_spancont
            span
            span
            span
        div.img_namecontout
          div.img_namecont
            div.user_img
            div.name_user Usuario
      div.user_info
        div.porfile_options
          div.porfile_items Perfil
          div.porfile_items Materias
          div.porfile_items Configuración
        div.user_personalinfo
          span Escuela:
          p Institución Escolar
        div.cont_usersubjects
          div.user_subjects
            div.subimg_cont
              span#circle
            div.subdats_cont
              div.subject_title
                span Matematicas
              div.subject_info
                span.subject_infoinner
                  b Promedio:
                  span 9.6
                span.subject_infoinner
                  b Fecha de Inicio:
                  span 24/09/2014
          div.user_subjects
            div.subimg_cont
              span#circle
            div.subdats_cont
              div.subject_title
                span Filosofia
              div.subject_info
                span.subject_infoinner
                  b Promedio:
                  span 8.4
                span.subject_infoinner
                  b Fecha de Inicio:
                  span 02/10/2014