extends ../layout

block content
	link(rel='stylesheet', href='/stylesheets/style.css')
	style.
		.account_bgcontainer{
			background-image: url("/image/fondochido.jpg");
		}
		.container{
			z-index:97;
			width:850px;
			height:auto;
			position:absolute;
			left:-425px;
			margin-left:50%;
			padding:10px;
			text-align:center;
			
		}
		.tableContainer{
			width: calc(100% - 190px);
			width: -moz-calc(100% - 190px);
			width: -webkit-calc(100% - 190px);
			height:auto;
			background-color:#fff;
			padding:10px;
			margin-left:190px;
			text-align:center;
			box-shadow:0px 0px 10px #999;
			top:150px;
		}
		.tableContainer table{
			width:100%;
		}
		.btn{
			right:20px;
			top:30px;
			background-color:#7cb342;
			color:#fff;
			position:absolute;
			padding:15px;
			cursor:pointer;
		}
		.header_under{
			height:40px;
		}


	
	.container_useraccount
		.alluser_info
			.account_bgcontainer
				.option_spancont
					span
					span
					span
						
				.img_namecont
					img.user_img(src="/image/Notion.png")

					.name_user #{datos.nombre} #{datos.apellido}
						
					
			.user_info
				.tableContainer
					table
						tr
							td 
								b Materia
							td 
								b Inscripcion
							td
								b Promedio
						tr
						-each m in datos.materias
							td m.nombre
							td m.inicio
							td m.calif