@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(../sass/textField.css);
@import url(../sass/profile.css);
.header {
  width: 100%;
  padding: 18px 0px 18px 0px;
  height: 90px;
  position: fixed;
  z-index: 19;
  background-color: #7cb342;
  border-bottom: 25px solid #628e34;
  box-shadow: 0px 2px 12px #757575; }

.header_under {
  width: 100%;
  height: 75px; }

.botton_menu {
  width: 20px;
  height: 30px;
  position: relative;
  left: 18px;
  cursor: pointer; }
  .botton_menu span {
    display: block;
    width: 22px;
    margin: 3px auto;
    height: 3px;
    border-radius: 2px;
    background-color: #fff; }

.menu {
  width: 320px;
  height: 100%;
  padding: 0;
  background-color: rgba(230, 230, 230, 0.9);
  color: #f2f2f2;
  position: fixed;
  z-index: 199;
  box-shadow: 3px 0px 15px #2e2e2e; }
  .menu a {
    color: #1c1c1c;
    text-decoration: none; }
  .menu span.bottom {
    color: #2e2e2e;
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 50px;
    font-weight: 100; }

.background_menuporfile {
  width: 100%;
  height: 192px;
  background-size: 100% 100%;
  background-image: url("/image/fondochido.jpg"); }

.close_menu {
  font-size: 22px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 22px;
  padding: 10px 0px 6px 0px;
  font-weight: 200;
  text-align: right; }

.close_menu span {
  display: block;
  position: relative;
  left: 281px;
  width: 22px;
  cursor: pointer;
  margin: 0px; }

.close_menu span:hover {
  color: #E53935;
  font-weight: 400; }

.porfile_imgmenu {
  width: 100%;
  height: 58px;
  padding: 8px 0px 27px 0px; }
  .porfile_imgmenu img {
    width: 58px;
    height: 58px;
    margin-left: 25px;
    border-radius: 100px;
    box-shadow: 0px 2px 8px #2c2c2c; }

.porfile_namemenu {
  width: auto;
  padding: 18px;
  padding-left: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); }

.proyect_titlemenu {
  font-family: "Roboto" , sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #2e2e2e;
  padding: 12px;
  width: auto;
  text-align: center;
  cursor: pointer; }

.menu_container {
  width: auto;
  padding: 0px;
  overflow: auto; }

.option_menu {
  color: #1c1c1c;
  font-family: "Roboto" , sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 16px 16px 32px;
  width: auto;
  cursor: pointer;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; }
  .option_menu:hover {
    border-left: 5px solid #1c1c1c;
    background-color: #bdbdbd;
    color: #fff; }

.square_container {
  width: 570px;
  padding: 50px;
  height: 1000px;
  margin: 0px auto;
  padding: 0px; }

.square {
  width: 250px;
  height: 250px;
  float: left;
  margin: 15px;
  background-color: #00897b; }

.section1 {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  background-image: url("/image/index_bg.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding-top: 10rem; }
  .section1 h1 {
    font-size: 10rem;
    font-family: "Roboto";
    word-spacing: 0px;
    color: #fff;
    line-height: 0px; }
  .section1 h3 {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: "Roboto";
    color: #fff;
    line-height: 0px; }
  .section1 p {
    color: #fff;
    padding-left: 280px; }

.section2 {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  background-color: #e5e5e3;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 100%; }
  .section2 .s2 {
    height: 50%; }
  .section2 .bg2 {
    background-image: url("/image/desk.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 50%;
    background-color: red; }
    .section2 .bg2 .s2 {
      padding-left: 100px; }
  .section2 h1, .section2 h2 {
    font-size: 3rem;
    text-align: left;
    font-family: "lobster"; }
  .section2 h2 {
    font-size: 2rem; }
  .section2 div {
    text-align: justify;
    font-family: "helvetica";
    font-size: 15px;
    padding: 13px;
    font-weight: 100; }
  .section2 .color3 {
    background-color: #f0f0ef; }

.grid {
  display: inline-block; }

.s2 {
  width: 50%;
  height: auto; }

.s3 {
  width: 33.3%;
  height: auto; }

.s4 {
  width: 20%;
  height: auto; }

*, body {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2; }

.screen {
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: rgba(10, 10, 10, 0.1);
  position: fixed;
  left: 0px;
  top: 0px;
  display: none; }
