<<<<<<< HEAD
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(../sass/textField.css);
@import url(../sass/profile.css);
.header {
  width: 100%;
  padding: 18px 0px 18px 0px;
  height: 90px;
  position: fixed;
  z-index: 19;
  background-color: #7cb342;
  border-bottom: 25px solid #628e34;
  box-shadow: 0px 2px 12px #757575; }

.header_under {
  width: 100%;
  height: 75px; }

.botton_menu {
  width: 20px;
  height: 30px;
  position: relative;
  left: 18px;
  cursor: pointer; }
  .botton_menu span {
    display: block;
    width: 22px;
    margin: 3px auto;
    height: 3px;
    border-radius: 2px;
    background-color: #fff; }

.menu {
  width: 320px;
  height: 100%;
  padding: 0;
  background-color: rgba(230, 230, 230, 0.9);
  color: #f2f2f2;
  position: fixed;
  z-index: 199;
  box-shadow: 3px 0px 15px #2e2e2e; }
  .menu a {
    text-decoration: none; }
  .menu span.bottom {
    color: #2e2e2e;
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 50px;
    font-weight: 100; }
  .menu img.profile_imgmenu {
    border-radius: 100%; }

.background_menuporfile {
  width: 100%;
  height: 192px;
  background-size: 100% 100%;
  background-image: url("/image/fondochido.jpg"); }

.close_menu {
  font-size: 22px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 22px;
  padding: 10px 0px 6px 0px;
  font-weight: 200;
  text-align: right; }

.close_menu span {
  display: block;
  position: relative;
  left: 281px;
  width: 22px;
  cursor: pointer;
  margin: 0px; }

.close_menu span:hover {
  color: #E53935;
  font-weight: 400; }

.porfile_imgmenu {
  width: 100%;
  height: 58px;
  padding: 8px 0px 27px 0px; }
  .porfile_imgmenu img {
    width: 58px;
    height: 58px;
    margin-left: 25px;
    border-radius: 100px;
    box-shadow: 0px 2px 8px #2c2c2c; }

.porfile_namemenu {
  width: 100%;
  padding: 18px;
  padding-left: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); }

.proyect_titlemenu {
  font-family: "Roboto" , sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #2e2e2e;
  padding: 12px;
  width: auto;
  text-align: center;
  cursor: pointer; }

.menu_container {
  width: auto;
  padding: 0px;
  overflow: auto; }

.option_menu {
  color: #1c1c1c;
  font-family: "Roboto" , sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 16px 16px 32px;
  width: auto;
  cursor: pointer;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; }
  .option_menu:hover {
    border-left: 5px solid #1c1c1c;
    background-color: #bdbdbd;
    color: #fff; }

.square_container {
  width: 570px;
  padding: 50px;
  height: 1000px;
  margin: 0px auto;
  padding: 0px; }

.square {
  width: 250px;
  height: 250px;
  float: left;
  margin: 15px;
  background-color: #00897b; }

.section1 {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  background-image: url("/image/index_bg.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding-top: 10rem; }
  .section1 h1 {
    font-size: 10rem;
    font-family: "Roboto";
    word-spacing: 0px;
    color: #fff;
    line-height: 0px; }
  .section1 h3 {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: "Roboto";
    color: #fff;
    line-height: 0px; }
  .section1 p {
    color: #fff;
    padding-left: 280px; }

.section2 {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  background-color: #e5e5e3;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 100%; }
  .section2 .s2 {
    height: 50%; }
  .section2 .bg2 {
    background-image: url("/image/desk.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 50%;
    background-color: red; }
    .section2 .bg2 .s2 {
      padding-left: 100px; }
  .section2 h1, .section2 h2 {
    font-size: 3rem;
    text-align: left;
    font-family: "lobster"; }
  .section2 h2 {
    font-size: 2rem; }
  .section2 div {
    text-align: justify;
    font-family: "helvetica";
    font-size: 15px;
    padding: 13px;
    font-weight: 100; }
  .section2 .color3 {
    background-color: #f0f0ef; }

.grid {
  display: inline-block; }

.s2 {
  width: 50%;
  height: auto; }

.s3 {
  width: 33.3%;
  height: auto; }

.s4 {
  width: 20%;
  height: auto; }

body {
  background-color: #333;
  overflow: hidden; }

ul {
  margin: 0 !important; }

.topbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10; }

.topbar-wrapper {
  position: relative;
  width: calc(100% - 2rem);
  height: inherit;
  max-width: 1200px;
  margin: 0 auto;
  line-height: inherit; }

.informationbar, #toolbar {
  position: relative;
  width: 100%;
  height: 50px; }

.informationbar {
  background-color: #00897b;
  line-height: 50px;
  color: #FFF;
  box-shadow: 0 -4px #00655b inset; }
  .informationbar span {
    color: #e6e6e6;
    cursor: pointer; }
    .informationbar span:hover {
      color: #FFF; }

#toolbar {
  display: none;
  background-color: rgba(0, 61, 54, 0.95);
  color: white; }
  #toolbar .arrow {
    position: absolute;
    width: 0;
    height: 0;
    margin-top: -10px;
    top: 0;
    right: 0.65rem;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #00655b; }
  #toolbar span.nav-left-btn, #toolbar span.nav-right-btn {
    position: absolute;
    height: 100%;
    line-height: 50px;
    padding: 0 0.25rem;
    background-color: rgba(0, 137, 123, 0.9);
    cursor: pointer;
    z-index: 1; }
  #toolbar span.nav-left-btn {
    right: 0; }
  #toolbar span.nav-right-btn {
    left: 0; }

.tools {
  position: relative;
  height: 100%;
  margin: 0;
  white-space: nowrap; }
  .tools > li {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: inherit;
    text-align: center;
    line-height: 50px;
    list-style: none;
    box-shadow: 0 0 #FFF inset;
    cursor: pointer;
    transition: 200ms; }
    .tools > li:not(.spacer):not(.dropdown):hover {
      background-color: #00655b;
      -webkit-transform: translateY(-2px);
      -moz-transform: translateY(-2px);
      transform: translateY(-2px); }
    .tools > li:not(.spacer):not(.dropdown):active {
      background-color: #00231f;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      transform: translateY(0px); }
    .tools > li.activable.active {
      background-color: #00655b;
      box-shadow: 0 -2px #FFF inset;
      color: #FFF; }
    .tools > li.spacer {
      width: 1px;
      margin: 0;
      cursor: default;
      background-color: #00897b;
      color: transparent; }
      .tools > li.spacer:after {
        content: "."; }
    .tools > li.dropdown {
      width: auto;
      padding: 0 0.5rem; }
      .tools > li.dropdown ul {
        position: absolute;
        display: none;
        left: 0; }
      .tools > li.dropdown li {
        display: block;
        width: auto;
        height: 30px;
        background-color: #003d36;
        line-height: 30px;
        padding: 0 0.5rem;
        font-size: 80%;
        text-align: left;
        transition: 200ms; }
        .tools > li.dropdown li.activable.active {
          box-shadow: 0 0 #FFF inset; }
          .tools > li.dropdown li.activable.active.active {
            box-shadow: 2px 0 #FFF inset; }
        .tools > li.dropdown li:hover {
          -webkit-transform: translateX(4px);
          -moz-transform: translateX(4px);
          transform: translateX(4px); }
        .tools > li.dropdown li:active {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          transform: translateX(0);
          background-color: #00231f; }
      .tools > li.dropdown:hover {
        background-color: #00655b; }
        .tools > li.dropdown:hover ul {
          display: block; }

#toolbar-btn {
  position: relative;
  float: right;
  width: 1.5rem;
  height: 100%;
  margin: 0 0.5rem;
  transition: 500ms;
  cursor: pointer; }
  #toolbar-btn.x span:nth-child(1) {
    top: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg); }
  #toolbar-btn.x span:nth-child(2) {
    opacity: 0; }
  #toolbar-btn.x span:nth-child(3) {
    top: 50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #toolbar-btn span {
    position: absolute;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    background-color: #FFF;
    transition: 250ms; }
  #toolbar-btn span:nth-child(1) {
    top: calc(50% - 5px); }
  #toolbar-btn span:nth-child(2) {
    top: 50%; }
  #toolbar-btn span:nth-child(3) {
    top: calc(50% + 5px); }

#info-btn {
  position: relative;
  float: right;
  font-size: 1.3rem;
  margin: 0 0.5rem;
  cursor: pointer; }

.page {
  position: relative;
  width: 9.5in;
  min-height: 11in;
  padding: 0.5in;
  margin-top: 100px;
  margin: 0 auto;
  background-color: #EEE;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3); }

.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll; }

.page-wrapper {
  position: relative;
  min-width: 100%;
  height: auto;
  padding: calc(100px + 2rem) 1rem 2rem 1rem; }

*, body {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2; }

.screen {
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: rgba(10, 10, 10, 0.1);
  position: fixed;
  left: 0px;
  top: 0px;
  display: none; }

/*# sourceMappingURL=app.css.map */
=======
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(../sass/textField.css);
@import url(../sass/profile.css);
.header {
  width: 100%;
  height: 150px;
  padding: 18px 0px 18px 0px;
  position: fixed;
  background-color: #689F38;
  border-bottom: 25px solid #4f792b;
  box-shadow: 0px 2px 12px #757575; }

.botton_menu {
  width: 34px;
  height: 34px;
  position: relative;
  float: left;
  margin: 0;
  left: 19px;
  display: block;
  top: 11px;
  cursor: pointer; }
  .botton_menu span {
    display: block;
    width: 18px;
    height: 2px;
    margin: 0px auto;
    background-color: #f2f2f2;
    margin-bottom: 3px;
    border-radius: 2px; }

.proyect_name {
  font-family: "Roboto" , sans-serif;
  font-size: 32px;
  width: 100%;
  font-weight: 200;
  color: #fff;
  position: absolute;
  margin: 0px auto;
  float: left;
  top: 15px;
  text-align: center;
  z-index: -1; }

.menu {
  width: 330px;
  height: 100%;
  padding: 0;
  background-color: rgba(230, 230, 230, 0.9);
  color: #f2f2f2;
  min-height: 400px;
  overflow: auto;
  position: fixed;
  z-index: 199;
  box-shadow: 3px 0px 15px #2e2e2e; }
  .menu a {
    text-decoration: none;
    padding: 0px;
    width: 100%; }
  .menu span.bottom {
    color: #2e2e2e;
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    font-weight: 100; }
  .menu img.profile_imgmenu {
    border-radius: 100%; }

.background_menuporfile {
  width: 100%;
  padding: 0;
  background-size: 100% 100%;
  background-image: url("/image/fondochido.jpg"); }

.profile_imgmenu {
  width: 100%;
  height: 130px; }
  .profile_imgmenu img {
    width: 58px;
    height: 58px;
    margin-left: 22px;
    border-radius: 100px;
    box-shadow: 0px 2px 8px #2c2c2c;
    position: relative;
    top: 97px; }

.profile_namemenu {
  width: auto;
  padding: 18px;
  padding-left: 92px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); }

.proyect_titlemenu {
  font-family: "Roboto" , sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #2e2e2e;
  padding: 12px;
  width: auto;
  text-align: center;
  cursor: pointer; }

.menu_container {
  width: auto;
  padding: 0px;
  overflow: auto; }

.option_menu {
  color: #1c1c1c;
  font-family: "Roboto" , sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding: 16px 16px 16px 32px;
  width: auto;
  cursor: pointer;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; }
  .option_menu:hover {
    border-left: 5px solid #1c1c1c;
    background-color: #a4a4a4;
    color: #fff; }

.square_container {
  width: 570px;
  padding: 50px;
  height: 1000px;
  margin: 0px auto;
  padding: 0px; }

.square {
  width: 250px;
  height: 250px;
  float: left;
  margin: 15px;
  background-color: #00897b; }

.section1 {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  background-image: url("/image/index_bg.jpg");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding-top: 10rem; }
  .section1 h1 {
    font-size: 10rem;
    font-family: "Roboto", sans-serif;
    word-spacing: 0px;
    color: #fff;
    line-height: 0px; }
  .section1 h3 {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    color: #fff;
    line-height: 0px; }
  .section1 p {
    color: #fff;
    padding-left: 280px;
    font-family: "Roboto", sans-serif; }

.section2 {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  background-color: #e5e5e3;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 100%; }
  .section2 .s2 {
    height: 50%; }
  .section2 .bg2 {
    background-image: url("/image/desk.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 50%;
    background-color: red; }
    .section2 .bg2 .s2 {
      padding-left: 100px; }
  .section2 h1, .section2 h2 {
    font-size: 3rem;
    text-align: left;
    font-family: "Roboto";
    font-weight: 300; }
  .section2 h2 {
    font-size: 2rem; }
  .section2 div {
    text-align: justify;
    font-family: "helvetica";
    font-size: 15px;
    padding: 13px;
    font-weight: 100; }
  .section2 .color3 {
    background-color: #f0f0ef; }

.grid {
  display: inline-block; }

.s2 {
  width: 50%;
  height: auto; }

.s3 {
  width: 33.3%;
  height: auto; }

.s4 {
  width: 20%;
  height: auto; }

*, body {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

body {
  padding: 0;
  margin: 0;
  background-color: #BDBDBD;
  font-family: sans-serif; }

.screen {
  width: 100%;
  height: 100%;
  z-index: 98;
  background-color: rgba(10, 10, 10, 0.1);
  position: fixed;
  left: 0px;
  top: 0px;
  display: none; }

.each_containerblock {
  padding: 50px;
  padding-top: 80px;
  margin: 0px auto; }

/*# sourceMappingURL=app.css.map */
>>>>>>> FETCH_HEAD
