
extends ../layout

block content
  script(src='/javascripts/editor.js')
  script(src='/javascripts/editor_actions.js')
  link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
  style.
    .header{
      height:70px;
      z-index:62;
      border-bottom:none;
      box-shadow:none;
    }
    .proyect_name{
      display:none;
    }
    #toolbar{
      height:auto;
      position:fixed;

    }
    .page-wrapper{
      padding-top:110px;

    }
    .topbar{
      padding-top:55px;
      z-index:61;
    }
    .richTextField{
      z-index:2;
    }
    .hidden{
      position:fixed;
      bottom:-100px;
      display:hidden;
    }
    #tema{
      position: absolute;
      top:120px;
      background-color:#fff;
      left:-4.25in;
      margin-left:50%;
      z-index:60;
      height:30px;
      width:8.5in;
      text-align:center;
    }

  .topbar
    .informationbar
      .topbar-wrapper
        span.notebook(onclick="submit_form()") [Guardar]
        span#toolbar-btn
          span
          span
          span
        span#info-btn
          i.fi-info
    #toolbar
      span.nav-right-btn
        i.fa.fa-angle-left
      span.nav-left-btn
        i.fa.fa-angle-right
      .topbar-wrapper
        span.arrow
        ul.tools
          li(onclick="undo()")
            i.fa.fa-undo
          li(onclick="redo()")
            i.fa.fa-repeat
          li.spacer
          li.activable(onclick="bold()")
            i.fa.fa-bold
          li.activable(onclick="italic()")
            i.fa.fa-italic
          li.activable(onclick="underline()")
            i.fa.fa-underline
          li.spacer
          li.activable(onclick="left()")
            i.fa.fa-align-left
          li.activable(onclick="center()")
            i.fa.fa-align-center
          li.activable(onclick="right()")
            i.fa.fa-align-right
          li.activable(onclick="justify()")
            i.fa.fa-align-justify
          li.spacer
          li.dropdown
            i.fa.fa-caret-down
            ul
              li.activable(onclick="set_size(6); center()") Título
              li.activable(onclick="set_size(5); bold()") Subtítulo
              li.activable(onclick="set_size(3)") Cuerpo
              li.activable(onclick="set_size(3); italic()") Cita

          <li class="spacer">
          <li><i class="fa fa-font" onclick="forecolor()"></i>
          <li><i class="fa fa-font" onclick="backcolor()"></i>
          <li class="spacer">
          <li class="activable" onclik="unordered_list()"><i class="fa fa-list-ul"></i>
          <li class="activable" onclick="ordered_list()"><i class="fa fa-list-ol"></i>
          <li class="spacer">
          <li onclick="link()" ><i class="fa fa-link fa-flip-horizontal"></i>
          <li onclick="unlink()" ><i class="fa fa-chain-broken"></i>
          <li class="spacer">
          <li onclick="create_table()" ><i class="fa fa-th"></i>
          <li onclick="create_table_with_header()"><i class="fa fa-table"></i>
          <li class="spacer">
          <li onclick="image()"><i class="fa fa-image"></i>
          <li onclick="print_document()"><i class="fa fa-print"></i>
  .page-container
    .page-wrapper
      iframe(src="/theory/base" name="richTextField" id="richTextField" class="page" style="display:block" frameborder="0")
      form#submit_form(method="post")
        textarea.hidden(name="textArea")
        input(type="text" name="tema" id="tema" placeholder="Tema")
        input.hidden(type="text" name="jason" id="jason")

  .hidden
    input(type="color" id="iForeColor" onchange="changeF()")
    input(type="color" id="iBackColor" onchange="changeB()")

  script.
    $(document).ready(function(){
        setTimeout(function(){iframe_on();}, 4000);
      });
